# Database
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DB_NAME"
POSTGRES_USER=bracket
POSTGRES_PASSWORD=bracket
POSTGRES_DB=bracket

# Server
PORT=4000
LOG_LEVEL=debug|info|warn|error # default: info
NODE_ENV=development|production|test # default: development

# Auth
JWT_SECRET=a-long-random-string
JWT_EXPIRES_IN=7d|1h|30m # default: 7d